@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 10px;
}

header, nav, div.contents, footer {
	width: 800px;
	margin: 0 auto;
}

header {
	padding: 10px 20px;
}

nav>ul {
	overflow: hidden;
	list-style: none;
}

nav>ul>li {
	float: left;
	padding: 5px 20px;
}

div.contents {
	clear: both;
	marginr-top: 20px;
}

div.contents>h2.content_title {
	padding: 10px;
}

hr {
	border: 0;
	border-top: 1px solid #DDD;
}

div.content {
	padding: 10px;
}

footer {
	border-top: 1px;
	padding: 10px;
	text-align: center;
	padding: 10px;
}